body{
background-image : url("train2.jpg");
background-size: cover;
background-position: center;
}

table{
margin:auto;
background-color:#CD5C5C  ; 
width : 500px;
height : 500px;
border-radius : 5px;
}

h1{
font-size: 50px;
text-align : center;
color:black;
padding-top: 20px;
padding-bottom: 40px;
background-color: white;}

label{
font-family : Serif;
font-size : 30px;
color: white ;
padding :10px;
}

button{
font-size : 30px;
color: black;
background-color: white; }

input{
border : 2px solid white; }

textarea{
border : 2px solid white;
}

ul{
    float:right;
    list-style-type:noun;
    margin-top: 25px;
    }
    ul  li{
    display: inline-block;
    }
    ul li a{
     text-decoration: none;
      color:black;
      padding: 5px 20px;
     border: 1px solid transparent;
    transition: 0.6s ease;
    }
    ul li a:hover{
       background-color:yellow;
       color: black; 
    }
    ul li.active a{
    background-color:yellow;
       color: black; 
    }
    
    .logo img{
    margin-top: 10px;
    float :left;
    width: 100px;
    height: 100px;}