*{ 
    margin : 0;
    padding: 0;
    font-family:san-serif;
}
h1{
   text-align: center;
   color: Black;
   font-size: 50px;
   padding : 20px; 
}
nav{
      background-color: lime;
      display: grid;
      place-items: center;
}
     nav ul a{
    display: inline-block;
    padding:20px;
    text-decoration: none;
    color:#000;
font-size :20px; 
    
}
 nav ul a:hover{
          background-color: green;
           color : white;}

.items{
display : grid;
grid-template-columns : repeat(3, 1fr);
padding:30px 20px;
grid-column-gap:20px;
grid-row-gap:30px;
}
.item img{
width :100%;
height :300px;
}
.item img:hover{
transform :scale(1.04);
}
.item h4{
padding : 5px;
font-size: 20px;
text-align : center; }
 .item button{
padding : 5px 30px;
border : solid;
background-color : red;
color: white;
font-size :20px;
border-radius :4px;
}
ul{
    float:right;
    list-style-type:noun;
    margin-top: 25px;
    }
    ul  li{
    display: inline-block;
    }
    ul li a{
     text-decoration: none;
      color:black;
      padding: 5px 20px;
     border: 1px solid transparent;
    transition: 0.6s ease;
    }
    ul li a:hover{
       background-color:yellow;
       color: black; 
    }
    ul li.active a{
    background-color:yellow;
       color: black; 
    }
    
    .logo img{
    margin-top: 10px;
    float :left;
    width: 90px;
    height: 80px;}

      